In [3]:
import requests, os, string
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import pandas as pd
import glob
import numpy as np

In [4]:
chromeOptions = Options()
chromeOptions.add_experimental_option("prefs", {"download.default_directory": r"C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel"})

In [5]:
user = ""
user_pass = ""

In [6]:
cpath = r"C:\Users\alexi\Onedrive\chromedriver.exe"
url = "http://www.myrtpos.com/newbdi/index.fwx"
driver = webdriver.Chrome(cpath, options=chromeOptions)
driver.get(url)

In [7]:
driver.find_element_by_id('secUserID').send_keys(user)
driver.find_element_by_id ('secPassword').send_keys(user_pass)
driver.find_element_by_class_name('submit').click()

In [8]:
order_url = 'http://www.myrtpos.com/newbdi/ReorderReport_Calculated_Week2.fwx'
response2 = driver.get(order_url)

In [9]:
market1 = "KANSAS CITY"

In [10]:
select = Select(driver.find_element_by_id('frmMarketID'))
# select by value 
select.select_by_value(market1)

In [11]:
select = Select(driver.find_element_by_name('frmSerialized'))
# select by value 
select.select_by_value('Yes')

In [12]:
driver.find_element_by_id("chkByStore").click()
driver.find_element_by_id("chkAllInv").click()

In [13]:
buttons= driver.find_elements_by_class_name("button-inner") # Selects Both "Generate" and "Raw Excel" Buttons

In [14]:
buttons= driver.find_elements_by_class_name("button-inner")
buttons[0].click() # Generate File

In [15]:
buttons= driver.find_elements_by_class_name("button-inner")
buttons[1].click() # Raw Excel Download

In [17]:
list_of_files = glob.glob(r"C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel\*") # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file)

C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel\ReorderReport_5PO117JKE.xls

In [18]:
kc = pd.read_excel(f"{latest_file}")
kc_df = kc[["itmdesc", "orderqty"]]
kc_sums = kc_df.groupby("itmdesc").sum()


kc_sums = kc_sums.replace(0, np.nan)
kc_sums = kc_sums.dropna(how='all', axis=0)

In [22]:
kc.head()

,custno,company,item,itmdesc,manufacturer,qty,onorderqty,orderqty,totalqty,weeksworth,totsold7,totsold14,totsold30,minqty,maxqty
0,CTXKCARM,ARMOUR,'610214658616,ALCATEL 1X EVOLVE,ALCATEL,0,0,0,0,0,0,0,1,0,0
1,CTXKCARM,ARMOUR,'610214661654,ALCATEL 3V,ALCATEL,0,0,0,0,0,0,0,3,0,0
2,CTXKCARM,ARMOUR,'610214657398,ALCATEL 7,ALCATEL,0,0,0,0,0,0,0,0,0,0
3,CTXKCARM,ARMOUR,'610214648259,ALCATEL GO FLIP,ALCATEL,0,0,0,0,0,0,0,0,0,0
4,CTXKCARM,ARMOUR,'610214661470,ALCATEL GO FLIP 3,ALCATEL,0,0,0,0,0,0,0,0,0,0

In [23]:
kc_allocations= []
for i, j in kc_sums.iterrows():
    answer = input(f"How much of {i} were we allocated?")
    kc_allocations.append(answer)

How much of ALCATEL 1X EVOLVE were we allocated?10
How much of ALCATEL 3V were we allocated?5
How much of ALCATEL GO FLIP were we allocated?0
How much of ALCATEL GO FLIP 3 were we allocated?10
How much of APL IPHONE 6S 32G ROS TMUS KIT were we allocated?0
How much of IPHONE 11 (64 GB) BLK were we allocated?3
How much of IPHONE 7 (32GB) BLACK were we allocated?10
How much of IPHONE 7 PLUS (32GB) BLACK were we allocated?0
How much of LG K40 were we allocated?35
How much of LG LMX220 ARISTO 3+ 16G BLK TMUS KIT were we allocated?0
How much of LG Q7+ were we allocated?0
How much of LG STYLO 5 32G WHT were we allocated?50
How much of LG X320 ARISTO 4+ 16G GRY TMUS KIT were we allocated?15
How much of METROSMART HTSPT BLK TMUS KIT were we allocated?0
How much of METROSMART RIDE 600MHZ were we allocated?0
How much of MOT E6 16G BLU TMUS KIT were we allocated?0
How much of MOT G7 PLAY 32G BLU TMUS KIT were we allocated?0
How much of MOT G7 POWER 32G BLU TMUS KIT were we allocated?0
How much of MOTOROLA E5 PLAY were we allocated?0
How much of SAM A205U A20 32G BLK TMUS KIT were we allocated?0
How much of SAMSUNG A10E were we allocated?110
How much of SAMSUNG GALAXY J2 were we allocated?5
How much of TIMEX FAMILY CONNECT were we allocated?0
How much of TRIPLE SIM CARD were we allocated?0

In [24]:
# Count of Not 0 Values
types_allocated = 0

for each in kc_allocations:
    if each > "0":
        types_allocated += 1
print(f'{market1} had {types_allocated} types of Devices Allocated')

KANSAS CITY had 10 types of Devices Allocated

In [25]:
kc_sums['allocation'] = kc_allocations

In [26]:
kc_sums = kc_sums.astype({'orderqty':float,'allocation':float})
kc_sums['order_percent'] = kc_sums['orderqty']/kc_sums['allocation']
kc_sums = kc_sums[['order_percent']]
kc_sums

                                      order_percent
itmdesc
ALCATEL 1X EVOLVE                         10.200000
ALCATEL 3V                                46.200000
ALCATEL GO FLIP                                 inf
ALCATEL GO FLIP 3                          1.700000
APL IPHONE 6S 32G ROS TMUS KIT                  inf
IPHONE 11 (64 GB) BLK                     11.666667
IPHONE 7 (32GB) BLACK                     21.200000
IPHONE 7 PLUS (32GB) BLACK                      inf
LG K40                                     6.000000
LG LMX220 ARISTO 3+ 16G BLK TMUS KIT            inf
LG Q7+                                          inf
LG STYLO 5 32G WHT                         2.900000
LG X320 ARISTO 4+ 16G GRY TMUS KIT         2.333333
METROSMART HTSPT BLK TMUS KIT                   inf
METROSMART RIDE 600MHZ                          inf
MOT E6 16G BLU TMUS KIT                         inf
MOT G7 PLAY 32G BLU TMUS KIT                    inf
MOT G7 POWER 32G BLU TMUS KIT                   inf
MOTOROLA E5 PLAY                                inf
SAM A205U A20 32G BLK TMUS KIT                  inf
SAMSUNG A10E                               5.781818
SAMSUNG GALAXY J2                          3.800000
TIMEX FAMILY CONNECT                            inf
TRIPLE SIM CARD                                 inf

In [27]:
new_kc_sheet = pd.merge(kc_sums, kc, on='itmdesc', how='left')
new_kc_sheet = new_kc_sheet[['itmdesc', 'company','qty','onorderqty','orderqty','totsold7','totsold14','totsold30','order_percent']]
new_kc_sheet["actual_order"]=new_kc_sheet["orderqty"]/new_kc_sheet["order_percent"]
new_kc_sheet["totalqty"]=new_kc_sheet[['qty','onorderqty','orderqty','actual_order']].sum(axis=1)
new_kc_sheet['weeksworth'] = new_kc_sheet['totalqty']/new_kc_sheet['totsold7']
kc_calculated_sheet=new_kc_sheet[['itmdesc','company','qty','onorderqty','orderqty','actual_order','totalqty','weeksworth','totsold7','totsold14','totsold30','order_percent']]
KC_Orders = kc_calculated_sheet.round({"orderqty":0,"actual_order":0,"weeksworth":2})

KC_Orders

,itmdesc,company,qty,onorderqty,orderqty,actual_order,totalqty,weeksworth,totsold7,totsold14,totsold30,order_percent
0,ALCATEL 1X EVOLVE,ARMOUR,0,0,0,0.0,0.000000,NaN,0,0,1,10.2
1,ALCATEL 1X EVOLVE,BLUE RIDGE,0,0,4,0.0,4.392157,4.39,1,4,4,10.2
2,ALCATEL 1X EVOLVE,EAST 291,3,0,1,0.0,4.098039,4.10,1,3,4,10.2
3,ALCATEL 1X EVOLVE,HIGHWAY 24,1,0,23,2.0,26.254902,4.38,6,10,14,10.2
4,ALCATEL 1X EVOLVE,HOLMES,3,0,0,0.0,3.000000,inf,0,0,1,10.2
5,ALCATEL 1X EVOLVE,NORTH INDY,0,0,36,4.0,39.529412,4.39,9,13,20,10.2
6,ALCATEL 1X EVOLVE,NOLAND,1,5,3,0.0,9.294118,9.29,1,5,17,10.2
7,ALCATEL 1X EVOLVE,PROSPECT,8,0,0,0.0,8.000000,8.00,1,3,7,10.2
8,ALCATEL 1X EVOLVE,STATE,3,0,13,1.0,17.274510,4.32,4,6,11,10.2
9,ALCATEL 1X EVOLVE,TROOST,2,0,10,1.0,12.980392,4.33,3,3,10,10.2
10,ALCATEL 1X EVOLVE,VAN BRUNT,3,0,9,1.0,12.882353,4.29,3,6,13,10.2
11,ALCATEL 1X EVOLVE,CELLTRONIX KC HUB,0,0,0,0.0,0.000000,NaN,0,0,0,10.2
12,ALCATEL 1X EVOLVE,WORNALL,5,0,3,0.0,8.294118,4.15,2,3,8,10.2
13,ALCATEL 3V,ARMOUR,0,0,0,0.0,0.000000,NaN,0,0,3,46.2
14,ALCATEL 3V,BLUE RIDGE,14,0,0,0.0,14.000000,4.67,3,4,8,46.2
15,ALCATEL 3V,EAST 291,3,10,41,1.0,54.887446,4.99,11,26,37,46.2
16,ALCATEL 3V,HIGHWAY 24,6,10,26,1.0,42.562771,5.32,8,18,33,46.2
17,ALCATEL 3V,HOLMES,12,0,0,0.0,12.000000,12.00,1,2,2,46.2
18,ALCATEL 3V,NORTH INDY,8,0,8,0.0,16.173160,4.04,4,9,17,46.2
19,ALCATEL 3V,NOLAND,13,5,19,0.0,37.411255,4.68,8,13,28,46.2
20,ALCATEL 3V,PROSPECT,3,5,21,0.0,29.454545,4.91,6,11,16,46.2
21,ALCATEL 3V,STATE,10,5,62,1.0,78.341991,4.35,18,30,48,46.2
22,ALCATEL 3V,TROOST,11,0,9,0.0,20.194805,4.04,5,10,16,46.2
23,ALCATEL 3V,VAN BRUNT,1,5,27,1.0,33.584416,4.80,7,19,27,46.2
24,ALCATEL 3V,CELLTRONIX KC HUB,0,0,0,0.0,0.000000,NaN,0,0,0,46.2
25,ALCATEL 3V,WORNALL,2,5,18,0.0,25.389610,5.08,5,7,8,46.2
26,ALCATEL GO FLIP,ARMOUR,0,0,0,0.0,0.000000,NaN,0,0,0,inf
27,ALCATEL GO FLIP,BLUE RIDGE,0,0,0,0.0,0.000000,NaN,0,0,0,inf
28,ALCATEL GO FLIP,EAST 291,0,0,0,0.0,0.000000,NaN,0,0,0,inf
29,ALCATEL GO FLIP,HIGHWAY 24,0,0,0,0.0,0.000000,NaN,0,0,0,inf
...,...,...,...,...,...,...,...,...,...,...,...,...
282,SAMSUNG GALAXY J2,TROOST,16,0,0,0.0,16.000000,inf,0,0,1,3.8
283,SAMSUNG GALAXY J2,VAN BRUNT,14,0,0,0.0,14.000000,inf,0,0,0,3.8
284,SAMSUNG GALAXY J2,CELLTRONIX KC HUB,0,0,0,0.0,0.000000,NaN,0,0,0,3.8
285,SAMSUNG GALAXY J2,WORNALL,7,0,0,0.0,7.000000,7.00,1,1,3,3.8
286,TIMEX FAMILY CONNECT,ARMOUR,0,0,0,0.0,0.000000,NaN,0,0,0,inf
287,TIMEX FAMILY CONNECT,BLUE RIDGE,0,0,0,0.0,0.000000,NaN,0,0,0,inf
288,TIMEX FAMILY CONNECT,EAST 291,0,0,0,0.0,0.000000,NaN,0,0,0,inf
289,TIMEX FAMILY CONNECT,HIGHWAY 24,0,0,0,0.0,0.000000,NaN,0,0,0,inf
290,TIMEX FAMILY CONNECT,HOLMES,0,0,0,0.0,0.000000,NaN,0,0,0,inf
291,TIMEX FAMILY CONNECT,NORTH INDY,0,5,0,0.0,5.000000,inf,0,0,0,inf
292,TIMEX FAMILY CONNECT,NOLAND,4,0,0,0.0,4.000000,inf,0,0,1,inf
293,TIMEX FAMILY CONNECT,PROSPECT,0,0,0,0.0,0.000000,NaN,0,0,0,inf
294,TIMEX FAMILY CONNECT,STATE,5,0,0,0.0,5.000000,inf,0,0,0,inf
295,TIMEX FAMILY CONNECT,TROOST,0,0,0,0.0,0.000000,NaN,0,0,0,inf
296,TIMEX FAMILY CONNECT,VAN BRUNT,4,5,4,0.0,13.000000,6.50,2,2,2,inf
297,TIMEX FAMILY CONNECT,CELLTRONIX KC HUB,0,0,0,0.0,0.000000,NaN,0,0,0,inf
298,TIMEX FAMILY CONNECT,WORNALL,0,0,0,0.0,0.000000,NaN,0,0,0,inf
299,TRIPLE SIM CARD,ARMOUR,0,0,0,0.0,0.000000,NaN,0,0,1,inf
300,TRIPLE SIM CARD,BLUE RIDGE,17,25,23,0.0,65.000000,6.50,10,22,27,inf
301,TRIPLE SIM CARD,EAST 291,27,25,0,0.0,52.000000,8.67,6,10,12,inf
302,TRIPLE SIM CARD,HIGHWAY 24,50,0,0,0.0,50.000000,16.67,3,5,7,inf
303,TRIPLE SIM CARD,HOLMES,22,55,50,0.0,127.000000,7.06,18,23,34,inf
304,TRIPLE SIM CARD,NORTH INDY,44,0,0,0.0,44.000000,14.67,3,10,13,inf
305,TRIPLE SIM CARD,NOLAND,66,75,74,0.0,215.000000,6.14,35,60,79,inf
306,TRIPLE SIM CARD,PROSPECT,44,0,0,0.0,44.000000,14.67,3,7,13,inf
307,TRIPLE SIM CARD,STATE,41,55,43,0.0,139.000000,6.62,21,31,43,inf
308,TRIPLE SIM CARD,TROOST,66,30,18,0.0,114.000000,5.43,21,44,71,inf
309,TRIPLE SIM CARD,VAN BRUNT,58,0,0,0.0,58.000000,29.00,2,15,26,inf
310,TRIPLE SIM CARD,CELLTRONIX KC HUB,0,0,0,0.0,0.000000,NaN,0,0,0,inf
311,TRIPLE SIM CARD,WORNALL,18,20,0,0.0,38.000000,9.50,4,9,11,inf

In [130]:
no_sim_kc = kc[~kc.itmdesc.str.contains('SIM')]
no_demo_kc = no_sim_kc[~no_sim_kc.itmdesc.str.contains('DEMO')]
kc_store_percent = no_demo_kc[["company","qty","onorderqty"]]

kc_store_percent = kc_store_percent.astype({'qty':float,'onorderqty':float})
kc_store_percent['total store inv']=kc_store_percent["qty"]+kc_store_percent["onorderqty"]
kc_store_percent = kc_store_percent.drop(columns=["qty", "onorderqty"])
kc_store_percent = kc_store_percent.groupby("company").sum()
combined_kc = pd.merge(KC_Orders, kc_store_percent, on='company', how='left', suffixes=(True, False))

In [131]:
combined_kc["% device of store inv"] = (combined_kc[["onorderqty","qty"]].sum(axis=1)/combined_kc['total store inv'])*100
combined_kc["request"] = combined_kc["orderqty"]-combined_kc["actual_order"]
# combined_kc

In [132]:
KC_Final_Orders= combined_kc[['itmdesc','company','qty','onorderqty','actual_order','request','totalqty','weeksworth','totsold7','totsold14','totsold30','order_percent','total store inv','% device of store inv']]
KC_Final_Orders = KC_Final_Orders.round({"orderqty":0,"actual_order":0,"totalqty":0,"% device of store inv":2})

In [133]:
KC_Final_Orders

,itmdesc,company,qty,onorderqty,actual_order,request,totalqty,weeksworth,totsold7,totsold14,totsold30,order_percent,total store inv,% device of store inv
0,ALCATEL 1X EVOLVE,ARMOUR,0,0,0.0,0.0,0.0,NaN,0,0,1,10.2,0.0,NaN
1,ALCATEL 1X EVOLVE,BLUE RIDGE,0,0,0.0,4.0,4.0,4.39,1,4,4,10.2,123.0,0.00
2,ALCATEL 1X EVOLVE,EAST 291,3,0,0.0,1.0,4.0,4.10,1,3,4,10.2,158.0,1.90
3,ALCATEL 1X EVOLVE,HIGHWAY 24,1,0,2.0,21.0,26.0,4.38,6,10,14,10.2,158.0,0.63
4,ALCATEL 1X EVOLVE,HOLMES,3,0,0.0,0.0,3.0,inf,0,0,1,10.2,149.0,2.01
5,ALCATEL 1X EVOLVE,NORTH INDY,0,0,4.0,32.0,40.0,4.39,9,13,20,10.2,127.0,0.00
6,ALCATEL 1X EVOLVE,NOLAND,1,5,0.0,3.0,9.0,9.29,1,5,17,10.2,222.0,2.70
7,ALCATEL 1X EVOLVE,PROSPECT,8,0,0.0,0.0,8.0,8.00,1,3,7,10.2,151.0,5.30
8,ALCATEL 1X EVOLVE,STATE,3,0,1.0,12.0,17.0,4.32,4,6,11,10.2,200.0,1.50
9,ALCATEL 1X EVOLVE,TROOST,2,0,1.0,9.0,13.0,4.33,3,3,10,10.2,152.0,1.32
10,ALCATEL 1X EVOLVE,VAN BRUNT,3,0,1.0,8.0,13.0,4.29,3,6,13,10.2,193.0,1.55
11,ALCATEL 1X EVOLVE,CELLTRONIX KC HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,10.2,0.0,NaN
12,ALCATEL 1X EVOLVE,WORNALL,5,0,0.0,3.0,8.0,4.15,2,3,8,10.2,127.0,3.94
13,ALCATEL 3V,ARMOUR,0,0,0.0,0.0,0.0,NaN,0,0,3,46.2,0.0,NaN
14,ALCATEL 3V,BLUE RIDGE,14,0,0.0,0.0,14.0,4.67,3,4,8,46.2,123.0,11.38
15,ALCATEL 3V,EAST 291,3,10,1.0,40.0,55.0,4.99,11,26,37,46.2,158.0,8.23
16,ALCATEL 3V,HIGHWAY 24,6,10,1.0,25.0,43.0,5.32,8,18,33,46.2,158.0,10.13
17,ALCATEL 3V,HOLMES,12,0,0.0,0.0,12.0,12.00,1,2,2,46.2,149.0,8.05
18,ALCATEL 3V,NORTH INDY,8,0,0.0,8.0,16.0,4.04,4,9,17,46.2,127.0,6.30
19,ALCATEL 3V,NOLAND,13,5,0.0,19.0,37.0,4.68,8,13,28,46.2,222.0,8.11
20,ALCATEL 3V,PROSPECT,3,5,0.0,21.0,29.0,4.91,6,11,16,46.2,151.0,5.30
21,ALCATEL 3V,STATE,10,5,1.0,61.0,78.0,4.35,18,30,48,46.2,200.0,7.50
22,ALCATEL 3V,TROOST,11,0,0.0,9.0,20.0,4.04,5,10,16,46.2,152.0,7.24
23,ALCATEL 3V,VAN BRUNT,1,5,1.0,26.0,34.0,4.80,7,19,27,46.2,193.0,3.11
24,ALCATEL 3V,CELLTRONIX KC HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,46.2,0.0,NaN
25,ALCATEL 3V,WORNALL,2,5,0.0,18.0,25.0,5.08,5,7,8,46.2,127.0,5.51
26,ALCATEL GO FLIP,ARMOUR,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
27,ALCATEL GO FLIP,BLUE RIDGE,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,123.0,0.00
28,ALCATEL GO FLIP,EAST 291,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,158.0,0.00
29,ALCATEL GO FLIP,HIGHWAY 24,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,158.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,SAMSUNG GALAXY J2,TROOST,16,0,0.0,0.0,16.0,inf,0,0,1,3.8,152.0,10.53
283,SAMSUNG GALAXY J2,VAN BRUNT,14,0,0.0,0.0,14.0,inf,0,0,0,3.8,193.0,7.25
284,SAMSUNG GALAXY J2,CELLTRONIX KC HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,3.8,0.0,NaN
285,SAMSUNG GALAXY J2,WORNALL,7,0,0.0,0.0,7.0,7.00,1,1,3,3.8,127.0,5.51
286,TIMEX FAMILY CONNECT,ARMOUR,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
287,TIMEX FAMILY CONNECT,BLUE RIDGE,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,123.0,0.00
288,TIMEX FAMILY CONNECT,EAST 291,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,158.0,0.00
289,TIMEX FAMILY CONNECT,HIGHWAY 24,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,158.0,0.00
290,TIMEX FAMILY CONNECT,HOLMES,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,149.0,0.00
291,TIMEX FAMILY CONNECT,NORTH INDY,0,5,0.0,0.0,5.0,inf,0,0,0,inf,127.0,3.94
292,TIMEX FAMILY CONNECT,NOLAND,4,0,0.0,0.0,4.0,inf,0,0,1,inf,222.0,1.80
293,TIMEX FAMILY CONNECT,PROSPECT,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,151.0,0.00
294,TIMEX FAMILY CONNECT,STATE,5,0,0.0,0.0,5.0,inf,0,0,0,inf,200.0,2.50
295,TIMEX FAMILY CONNECT,TROOST,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,152.0,0.00
296,TIMEX FAMILY CONNECT,VAN BRUNT,4,5,0.0,4.0,13.0,6.50,2,2,2,inf,193.0,4.66
297,TIMEX FAMILY CONNECT,CELLTRONIX KC HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
298,TIMEX FAMILY CONNECT,WORNALL,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,127.0,0.00
299,TRIPLE SIM CARD,ARMOUR,0,0,0.0,0.0,0.0,NaN,0,0,1,inf,0.0,NaN
300,TRIPLE SIM CARD,BLUE RIDGE,17,25,0.0,23.0,65.0,6.50,10,22,27,inf,123.0,34.15
301,TRIPLE SIM CARD,EAST 291,27,25,0.0,0.0,52.0,8.67,6,10,12,inf,158.0,32.91
302,TRIPLE SIM CARD,HIGHWAY 24,50,0,0.0,0.0,50.0,16.67,3,5,7,inf,158.0,31.65
303,TRIPLE SIM CARD,HOLMES,22,55,0.0,50.0,127.0,7.06,18,23,34,inf,149.0,51.68
304,TRIPLE SIM CARD,NORTH INDY,44,0,0.0,0.0,44.0,14.67,3,10,13,inf,127.0,34.65
305,TRIPLE SIM CARD,NOLAND,66,75,0.0,74.0,215.0,6.14,35,60,79,inf,222.0,63.51
306,TRIPLE SIM CARD,PROSPECT,44,0,0.0,0.0,44.0,14.67,3,7,13,inf,151.0,29.14
307,TRIPLE SIM CARD,STATE,41,55,0.0,43.0,139.0,6.62,21,31,43,inf,200.0,48.00
308,TRIPLE SIM CARD,TROOST,66,30,0.0,18.0,114.0,5.43,21,44,71,inf,152.0,63.16
309,TRIPLE SIM CARD,VAN BRUNT,58,0,0.0,0.0,58.0,29.00,2,15,26,inf,193.0,30.05
310,TRIPLE SIM CARD,CELLTRONIX KC HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
311,TRIPLE SIM CARD,WORNALL,18,20,0.0,0.0,38.0,9.50,4,9,11,inf,127.0,29.92

In [40]:
# Repeat for Tampa
market2 = "TAMPA"
select = Select(driver.find_element_by_id('frmMarketID'))
# select by value 
select.select_by_value(market2)

In [41]:
buttons= driver.find_elements_by_class_name("button-inner")
buttons[0].click() # Generate File

In [42]:
buttons= driver.find_elements_by_class_name("button-inner")
buttons[1].click() # Raw Excel Download

In [44]:
list_of_files = glob.glob(r"C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel\*") # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file)

C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel\ReorderReport_5PO11EXN9.xls

In [45]:
tpa = pd.read_excel(f"{latest_file}")
tpa_df = tpa[["itmdesc", "orderqty"]]
tpa_sums = tpa_df.groupby("itmdesc").sum()


tpa_sums = tpa_sums.replace(0, np.nan)
tpa_sums = tpa_sums.dropna(how='all', axis=0)

In [46]:
tpa_allocations= []
for i, j in tpa_sums.iterrows():
    answer = input(f"How much of {i} were we allocated?")
    tpa_allocations.append(answer)

How much of ALCATEL 1X EVOLVE were we allocated?10
How much of ALCATEL 3V were we allocated?5
How much of ALCATEL GO FLIP 3 were we allocated?10
How much of ALCATEL JOY TAB were we allocated?0
How much of APL IPHONE 6S 32G ROS TMUS KIT were we allocated?0
How much of APL IPHONE XS MAX 64GB GOLD DEMO were we allocated?0
How much of IPHONE 11 (64 GB) BLK were we allocated?0
How much of IPHONE 11 (64 GB) GREEN were we allocated?0
How much of IPHONE 11 (64 GB) PURPLE were we allocated?0
How much of IPHONE 11 (64 GB) RED were we allocated?5
How much of IPHONE 7 (32GB) BLACK were we allocated?0
How much of IPHONE 7 PLUS (32GB) BLACK were we allocated?0
How much of LG K40 were we allocated?0
How much of LG LMX220 ARISTO 3+ 16G BLK TMUS KIT were we allocated?0
How much of LG STYLO 5 32G WHT were we allocated?50
How much of LG X320 ARISTO 4+ 16G GRY TMUS KIT were we allocated?30
How much of METROSMART HTSPT BLK TMUS KIT were we allocated?0
How much of MOT E6 16G BLU TMUS KIT were we allocated?0
How much of MOT G7 PLAY 32G BLU TMUS KIT were we allocated?0
How much of MOT G7 POWER 32G BLU TMUS KIT were we allocated?0
How much of SAM A205U A20 32G BLK TMUS KIT were we allocated?50
How much of SAMSUNG A10E were we allocated?110
How much of SAMSUNG GALAXY J2 were we allocated?0
How much of SAMSUNG J7 STAR were we allocated?0
How much of TRIPLE SIM CARD were we allocated?0

In [47]:
# Count of Not 0 Values
tpa_types_allocated = 0

for each in tpa_allocations:
    if each > "0":
        tpa_types_allocated += 1
print(f'{market2} had {tpa_types_allocated} types of Devices Allocated')

TAMPA had 8 types of Devices Allocated

In [48]:
tpa_sums['allocation'] = tpa_allocations

In [49]:
tpa_sums = tpa_sums.astype({'orderqty':float,'allocation':float})
tpa_sums['order_percent'] = tpa_sums['orderqty']/tpa_sums['allocation']
tpa_sums = tpa_sums[['order_percent']]

In [50]:
new_tpa_sheet = pd.merge(tpa_sums, tpa, on='itmdesc', how='left')
new_tpa_sheet = new_tpa_sheet[['itmdesc', 'company','qty','onorderqty','orderqty','totsold7','totsold14','totsold30','order_percent']]
new_tpa_sheet["actual_order"]=new_tpa_sheet["orderqty"]/new_tpa_sheet["order_percent"]
new_tpa_sheet["totalqty"]=new_tpa_sheet[['qty','onorderqty','orderqty','actual_order']].sum(axis=1)
new_tpa_sheet['weeksworth'] = new_tpa_sheet['totalqty']/new_tpa_sheet['totsold7']
tpa_calculated_sheet=new_tpa_sheet[['itmdesc','company','qty','onorderqty','orderqty','actual_order','totalqty','weeksworth','totsold7','totsold14','totsold30','order_percent']]
TPA_Orders = tpa_calculated_sheet.round({"orderqty":0,"actual_order":0,"weeksworth":2})

TPA_Orders

,itmdesc,company,qty,onorderqty,orderqty,actual_order,totalqty,weeksworth,totsold7,totsold14,totsold30,order_percent
0,ALCATEL 1X EVOLVE,CELLTRONIX TAMPA HUB,0,0,0,0.0,0.000000,NaN,0,0,0,2.0
1,ALCATEL 1X EVOLVE,EUCLID,0,0,16,8.0,24.000000,6.00,4,5,13,2.0
2,ALCATEL 1X EVOLVE,KENNEDY,0,0,0,0.0,0.000000,NaN,0,2,6,2.0
3,ALCATEL 1X EVOLVE,LOCKWOOD,8,0,0,0.0,8.000000,inf,0,0,0,2.0
4,ALCATEL 1X EVOLVE,NEPTUNE,0,0,0,0.0,0.000000,NaN,0,0,0,2.0
5,ALCATEL 1X EVOLVE,OLDSMAR,0,0,4,2.0,6.000000,6.00,1,1,2,2.0
6,ALCATEL 1X EVOLVE,PALM HARBOR,0,0,0,0.0,0.000000,NaN,0,0,6,2.0
7,ALCATEL 1X EVOLVE,PINELLAS,0,0,0,0.0,0.000000,NaN,0,1,13,2.0
8,ALCATEL 1X EVOLVE,PORT RICHEY,0,0,0,0.0,0.000000,NaN,0,0,3,2.0
9,ALCATEL 1X EVOLVE,TUTTLE,1,0,0,0.0,1.000000,inf,0,1,2,2.0
10,ALCATEL 1X EVOLVE,ZEPHYRHILLS,0,0,0,0.0,0.000000,NaN,0,0,6,2.0
11,ALCATEL 3V,CELLTRONIX TAMPA HUB,0,0,0,0.0,0.000000,NaN,0,0,0,22.8
12,ALCATEL 3V,EUCLID,21,5,0,0.0,26.000000,inf,0,3,10,22.8
13,ALCATEL 3V,KENNEDY,0,5,20,1.0,25.877193,5.18,5,7,10,22.8
14,ALCATEL 3V,LOCKWOOD,4,5,16,1.0,25.701754,5.14,5,8,16,22.8
15,ALCATEL 3V,NEPTUNE,0,0,0,0.0,0.000000,NaN,0,0,0,22.8
16,ALCATEL 3V,OLDSMAR,10,0,0,0.0,10.000000,inf,0,1,6,22.8
17,ALCATEL 3V,PALM HARBOR,5,0,11,0.0,16.482456,4.12,4,6,9,22.8
18,ALCATEL 3V,PINELLAS,12,0,12,1.0,24.526316,4.09,6,11,14,22.8
19,ALCATEL 3V,PORT RICHEY,21,5,39,2.0,66.710526,4.45,15,27,41,22.8
20,ALCATEL 3V,TUTTLE,11,0,0,0.0,11.000000,inf,0,4,8,22.8
21,ALCATEL 3V,ZEPHYRHILLS,8,0,16,1.0,24.701754,4.12,6,9,12,22.8
22,ALCATEL GO FLIP 3,CELLTRONIX TAMPA HUB,0,0,0,0.0,0.000000,NaN,0,0,0,1.3
23,ALCATEL GO FLIP 3,EUCLID,6,0,0,0.0,6.000000,6.00,1,2,6,1.3
24,ALCATEL GO FLIP 3,KENNEDY,5,0,0,0.0,5.000000,5.00,1,2,6,1.3
25,ALCATEL GO FLIP 3,LOCKWOOD,7,0,0,0.0,7.000000,inf,0,2,2,1.3
26,ALCATEL GO FLIP 3,NEPTUNE,0,0,0,0.0,0.000000,NaN,0,0,0,1.3
27,ALCATEL GO FLIP 3,OLDSMAR,6,0,0,0.0,6.000000,6.00,1,1,1,1.3
28,ALCATEL GO FLIP 3,PALM HARBOR,5,0,0,0.0,5.000000,5.00,1,2,4,1.3
29,ALCATEL GO FLIP 3,PINELLAS,3,10,13,10.0,36.000000,9.00,4,5,6,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
245,SAMSUNG GALAXY J2,LOCKWOOD,18,0,0,0.0,18.000000,inf,0,2,10,inf
246,SAMSUNG GALAXY J2,NEPTUNE,0,0,0,0.0,0.000000,NaN,0,0,0,inf
247,SAMSUNG GALAXY J2,OLDSMAR,4,0,0,0.0,4.000000,4.00,1,1,3,inf
248,SAMSUNG GALAXY J2,PALM HARBOR,11,0,0,0.0,11.000000,inf,0,1,3,inf
249,SAMSUNG GALAXY J2,PINELLAS,16,0,0,0.0,16.000000,4.00,4,6,10,inf
250,SAMSUNG GALAXY J2,PORT RICHEY,14,0,0,0.0,14.000000,inf,0,1,4,inf
251,SAMSUNG GALAXY J2,TUTTLE,4,0,16,0.0,20.000000,4.00,5,5,10,inf
252,SAMSUNG GALAXY J2,ZEPHYRHILLS,10,0,0,0.0,10.000000,10.00,1,1,1,inf
253,SAMSUNG J7 STAR,CELLTRONIX TAMPA HUB,0,0,0,0.0,0.000000,NaN,0,0,0,inf
254,SAMSUNG J7 STAR,EUCLID,0,0,0,0.0,0.000000,NaN,0,1,1,inf
255,SAMSUNG J7 STAR,KENNEDY,1,0,3,0.0,4.000000,4.00,1,1,1,inf
256,SAMSUNG J7 STAR,LOCKWOOD,2,0,0,0.0,2.000000,inf,0,0,0,inf
257,SAMSUNG J7 STAR,NEPTUNE,0,0,0,0.0,0.000000,NaN,0,0,0,inf
258,SAMSUNG J7 STAR,OLDSMAR,1,0,0,0.0,1.000000,inf,0,0,0,inf
259,SAMSUNG J7 STAR,PALM HARBOR,0,0,0,0.0,0.000000,NaN,0,0,0,inf
260,SAMSUNG J7 STAR,PINELLAS,0,0,0,0.0,0.000000,NaN,0,0,0,inf
261,SAMSUNG J7 STAR,PORT RICHEY,4,0,0,0.0,4.000000,inf,0,0,0,inf
262,SAMSUNG J7 STAR,TUTTLE,0,0,0,0.0,0.000000,NaN,0,0,0,inf
263,SAMSUNG J7 STAR,ZEPHYRHILLS,0,0,0,0.0,0.000000,NaN,0,0,0,inf
264,TRIPLE SIM CARD,CELLTRONIX TAMPA HUB,0,0,0,0.0,0.000000,NaN,0,0,0,inf
265,TRIPLE SIM CARD,EUCLID,38,0,0,0.0,38.000000,4.75,8,17,35,inf
266,TRIPLE SIM CARD,KENNEDY,44,0,0,0.0,44.000000,5.50,8,15,25,inf
267,TRIPLE SIM CARD,LOCKWOOD,48,0,44,0.0,92.000000,4.00,23,35,52,inf
268,TRIPLE SIM CARD,NEPTUNE,0,0,0,0.0,0.000000,NaN,0,0,0,inf
269,TRIPLE SIM CARD,OLDSMAR,47,0,0,0.0,47.000000,9.40,5,13,30,inf
270,TRIPLE SIM CARD,PALM HARBOR,35,0,1,0.0,36.000000,4.00,9,13,18,inf
271,TRIPLE SIM CARD,PINELLAS,70,0,0,0.0,70.000000,5.38,13,16,47,inf
272,TRIPLE SIM CARD,PORT RICHEY,38,45,62,0.0,145.000000,5.80,25,37,70,inf
273,TRIPLE SIM CARD,TUTTLE,42,35,50,0.0,127.000000,5.52,23,32,59,inf
274,TRIPLE SIM CARD,ZEPHYRHILLS,22,45,54,0.0,121.000000,6.37,19,27,37,inf

In [134]:
no_sim_tpa = tpa[~tpa.itmdesc.str.contains('SIM')]
no_demo_tpa = no_sim_tpa[~no_sim_tpa.itmdesc.str.contains('DEMO')]
tpa_store_percent = no_demo_tpa[["company","qty","onorderqty"]]

tpa_store_percent = tpa_store_percent.astype({'qty':float,'onorderqty':float})
tpa_store_percent['total store inv']=tpa_store_percent["qty"]+tpa_store_percent["onorderqty"]
tpa_store_percent = tpa_store_percent.drop(columns=["qty", "onorderqty"])
tpa_store_percent = tpa_store_percent.groupby("company").sum()
combined_tpa = pd.merge(TPA_Orders, tpa_store_percent, on='company', how='left', suffixes=(True, False))

In [135]:
combined_tpa["% device of store inv"] = (combined_tpa[["onorderqty","qty"]].sum(axis=1)/combined_tpa['total store inv'])*100
combined_tpa["request"] = combined_tpa["orderqty"]-combined_tpa["actual_order"]

In [136]:
TPA_Final_Orders= combined_tpa[['itmdesc','company','qty','onorderqty','actual_order','request','totalqty','weeksworth','totsold7','totsold14','totsold30','order_percent','total store inv','% device of store inv']]
TPA_Final_Orders = TPA_Final_Orders.round({"orderqty":0,"actual_order":0,"totalqty":0,"% device of store inv":2})

In [137]:
TPA_Final_Orders

,itmdesc,company,qty,onorderqty,actual_order,request,totalqty,weeksworth,totsold7,totsold14,totsold30,order_percent,total store inv,% device of store inv
0,ALCATEL 1X EVOLVE,CELLTRONIX TAMPA HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,2.0,0.0,NaN
1,ALCATEL 1X EVOLVE,EUCLID,0,0,8.0,8.0,24.0,6.00,4,5,13,2.0,280.0,0.00
2,ALCATEL 1X EVOLVE,KENNEDY,0,0,0.0,0.0,0.0,NaN,0,2,6,2.0,240.0,0.00
3,ALCATEL 1X EVOLVE,LOCKWOOD,8,0,0.0,0.0,8.0,inf,0,0,0,2.0,197.0,4.06
4,ALCATEL 1X EVOLVE,NEPTUNE,0,0,0.0,0.0,0.0,NaN,0,0,0,2.0,0.0,NaN
5,ALCATEL 1X EVOLVE,OLDSMAR,0,0,2.0,2.0,6.0,6.00,1,1,2,2.0,263.0,0.00
6,ALCATEL 1X EVOLVE,PALM HARBOR,0,0,0.0,0.0,0.0,NaN,0,0,6,2.0,207.0,0.00
7,ALCATEL 1X EVOLVE,PINELLAS,0,0,0.0,0.0,0.0,NaN,0,1,13,2.0,339.0,0.00
8,ALCATEL 1X EVOLVE,PORT RICHEY,0,0,0.0,0.0,0.0,NaN,0,0,3,2.0,231.0,0.00
9,ALCATEL 1X EVOLVE,TUTTLE,1,0,0.0,0.0,1.0,inf,0,1,2,2.0,174.0,0.57
10,ALCATEL 1X EVOLVE,ZEPHYRHILLS,0,0,0.0,0.0,0.0,NaN,0,0,6,2.0,199.0,0.00
11,ALCATEL 3V,CELLTRONIX TAMPA HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,22.8,0.0,NaN
12,ALCATEL 3V,EUCLID,21,5,0.0,0.0,26.0,inf,0,3,10,22.8,280.0,9.29
13,ALCATEL 3V,KENNEDY,0,5,1.0,19.0,26.0,5.18,5,7,10,22.8,240.0,2.08
14,ALCATEL 3V,LOCKWOOD,4,5,1.0,15.0,26.0,5.14,5,8,16,22.8,197.0,4.57
15,ALCATEL 3V,NEPTUNE,0,0,0.0,0.0,0.0,NaN,0,0,0,22.8,0.0,NaN
16,ALCATEL 3V,OLDSMAR,10,0,0.0,0.0,10.0,inf,0,1,6,22.8,263.0,3.80
17,ALCATEL 3V,PALM HARBOR,5,0,0.0,11.0,16.0,4.12,4,6,9,22.8,207.0,2.42
18,ALCATEL 3V,PINELLAS,12,0,1.0,11.0,25.0,4.09,6,11,14,22.8,339.0,3.54
19,ALCATEL 3V,PORT RICHEY,21,5,2.0,37.0,67.0,4.45,15,27,41,22.8,231.0,11.26
20,ALCATEL 3V,TUTTLE,11,0,0.0,0.0,11.0,inf,0,4,8,22.8,174.0,6.32
21,ALCATEL 3V,ZEPHYRHILLS,8,0,1.0,15.0,25.0,4.12,6,9,12,22.8,199.0,4.02
22,ALCATEL GO FLIP 3,CELLTRONIX TAMPA HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,1.3,0.0,NaN
23,ALCATEL GO FLIP 3,EUCLID,6,0,0.0,0.0,6.0,6.00,1,2,6,1.3,280.0,2.14
24,ALCATEL GO FLIP 3,KENNEDY,5,0,0.0,0.0,5.0,5.00,1,2,6,1.3,240.0,2.08
25,ALCATEL GO FLIP 3,LOCKWOOD,7,0,0.0,0.0,7.0,inf,0,2,2,1.3,197.0,3.55
26,ALCATEL GO FLIP 3,NEPTUNE,0,0,0.0,0.0,0.0,NaN,0,0,0,1.3,0.0,NaN
27,ALCATEL GO FLIP 3,OLDSMAR,6,0,0.0,0.0,6.0,6.00,1,1,1,1.3,263.0,2.28
28,ALCATEL GO FLIP 3,PALM HARBOR,5,0,0.0,0.0,5.0,5.00,1,2,4,1.3,207.0,2.42
29,ALCATEL GO FLIP 3,PINELLAS,3,10,10.0,3.0,36.0,9.00,4,5,6,1.3,339.0,3.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,SAMSUNG GALAXY J2,LOCKWOOD,18,0,0.0,0.0,18.0,inf,0,2,10,inf,197.0,9.14
246,SAMSUNG GALAXY J2,NEPTUNE,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
247,SAMSUNG GALAXY J2,OLDSMAR,4,0,0.0,0.0,4.0,4.00,1,1,3,inf,263.0,1.52
248,SAMSUNG GALAXY J2,PALM HARBOR,11,0,0.0,0.0,11.0,inf,0,1,3,inf,207.0,5.31
249,SAMSUNG GALAXY J2,PINELLAS,16,0,0.0,0.0,16.0,4.00,4,6,10,inf,339.0,4.72
250,SAMSUNG GALAXY J2,PORT RICHEY,14,0,0.0,0.0,14.0,inf,0,1,4,inf,231.0,6.06
251,SAMSUNG GALAXY J2,TUTTLE,4,0,0.0,16.0,20.0,4.00,5,5,10,inf,174.0,2.30
252,SAMSUNG GALAXY J2,ZEPHYRHILLS,10,0,0.0,0.0,10.0,10.00,1,1,1,inf,199.0,5.03
253,SAMSUNG J7 STAR,CELLTRONIX TAMPA HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
254,SAMSUNG J7 STAR,EUCLID,0,0,0.0,0.0,0.0,NaN,0,1,1,inf,280.0,0.00
255,SAMSUNG J7 STAR,KENNEDY,1,0,0.0,3.0,4.0,4.00,1,1,1,inf,240.0,0.42
256,SAMSUNG J7 STAR,LOCKWOOD,2,0,0.0,0.0,2.0,inf,0,0,0,inf,197.0,1.02
257,SAMSUNG J7 STAR,NEPTUNE,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
258,SAMSUNG J7 STAR,OLDSMAR,1,0,0.0,0.0,1.0,inf,0,0,0,inf,263.0,0.38
259,SAMSUNG J7 STAR,PALM HARBOR,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,207.0,0.00
260,SAMSUNG J7 STAR,PINELLAS,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,339.0,0.00
261,SAMSUNG J7 STAR,PORT RICHEY,4,0,0.0,0.0,4.0,inf,0,0,0,inf,231.0,1.73
262,SAMSUNG J7 STAR,TUTTLE,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,174.0,0.00
263,SAMSUNG J7 STAR,ZEPHYRHILLS,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,199.0,0.00
264,TRIPLE SIM CARD,CELLTRONIX TAMPA HUB,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
265,TRIPLE SIM CARD,EUCLID,38,0,0.0,0.0,38.0,4.75,8,17,35,inf,280.0,13.57
266,TRIPLE SIM CARD,KENNEDY,44,0,0.0,0.0,44.0,5.50,8,15,25,inf,240.0,18.33
267,TRIPLE SIM CARD,LOCKWOOD,48,0,0.0,44.0,92.0,4.00,23,35,52,inf,197.0,24.37
268,TRIPLE SIM CARD,NEPTUNE,0,0,0.0,0.0,0.0,NaN,0,0,0,inf,0.0,NaN
269,TRIPLE SIM CARD,OLDSMAR,47,0,0.0,0.0,47.0,9.40,5,13,30,inf,263.0,17.87
270,TRIPLE SIM CARD,PALM HARBOR,35,0,0.0,1.0,36.0,4.00,9,13,18,inf,207.0,16.91
271,TRIPLE SIM CARD,PINELLAS,70,0,0.0,0.0,70.0,5.38,13,16,47,inf,339.0,20.65
272,TRIPLE SIM CARD,PORT RICHEY,38,45,0.0,62.0,145.0,5.80,25,37,70,inf,231.0,35.93
273,TRIPLE SIM CARD,TUTTLE,42,35,0.0,50.0,127.0,5.52,23,32,59,inf,174.0,44.25
274,TRIPLE SIM CARD,ZEPHYRHILLS,22,45,0.0,54.0,121.0,6.37,19,27,37,inf,199.0,33.67

In [ ]:
# Perform the Same Operations for Orlando

In [80]:
market3 = "ORLANDO"
select = Select(driver.find_element_by_id('frmMarketID'))
# select by value 
select.select_by_value(market3)

In [81]:
buttons= driver.find_elements_by_class_name("button-inner")
buttons[0].click() # Generate File

In [82]:
buttons= driver.find_elements_by_class_name("button-inner")
buttons[1].click() # Raw Excel Download

In [83]:
driver.quit() # Close Chrome Driver

In [84]:
list_of_files = glob.glob(r"C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel\*") # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file)

C:\Users\alexi\OneDrive\Documents\Phone Orders\OrderSheetRawExcel\ReorderReport_5PO11YTZL.xls

In [85]:
orl = pd.read_excel(f"{latest_file}")
orl_df = orl[["itmdesc", "orderqty"]]
orl_sums = orl_df.groupby("itmdesc").sum()


orl_sums = orl_sums.replace(0, np.nan)
orl_sums = orl_sums.dropna(how='all', axis=0)

In [86]:
orl_allocations= []
for i, j in orl_sums.iterrows():
    answer = input(f"How much of {i} were we allocated?")
    orl_allocations.append(answer)

How much of ALCATEL 1X EVOLVE were we allocated?10
How much of ALCATEL 3V were we allocated?5
How much of ALCATEL GO FLIP 3 were we allocated?0
How much of ALCATEL JOY TAB were we allocated?0
How much of APL IPHONE 6S 32G ROS TMUS KIT were we allocated?0
How much of IPHONE 11 (64 GB) BLK were we allocated?0
How much of IPHONE 11 (64 GB) RED were we allocated?0
How much of IPHONE 7 (32GB) BLACK were we allocated?0
How much of IPHONE 7 PLUS (32GB) BLACK were we allocated?0
How much of LG K40 were we allocated?35
How much of LG LMX220 ARISTO 3+ 16G BLK TMUS KIT were we allocated?25
How much of LG Q7+ were we allocated?10
How much of LG STYLO 5 32G WHT were we allocated?0
How much of LG X320 ARISTO 4+ 16G GRY TMUS KIT were we allocated?0
How much of MOT E6 16G BLU TMUS KIT were we allocated?0
How much of MOT G7 PLAY 32G BLU TMUS KIT were we allocated?0
How much of MOT G7 POWER 32G BLU TMUS KIT were we allocated?0
How much of MOTOROLA E5 PLAY were we allocated?10
How much of SAM A205U A20 32G BLK TMUS KIT were we allocated?0
How much of SAM A600T GALAXY A6 32G BLK TMUS KIT were we allocated?5
How much of SAM G960U GS9 64G BLK TMUS KIT were we allocated?110
How much of SAMSUNG A10E were we allocated?5
How much of SAMSUNG GALAXY J2 were we allocated?10
How much of TRIPLE SIM CARD were we allocated?0

In [87]:
# Count of Not 0 Values
orl_types_allocated = 0

for each in orl_allocations:
    if each > "0":
        orl_types_allocated += 1
print(f'{market3} had {orl_types_allocated} types of Devices Allocated')

ORLANDO had 10 types of Devices Allocated

In [88]:
orl_sums['allocation'] = orl_allocations

In [89]:
orl_sums = orl_sums.astype({'orderqty':float,'allocation':float})
orl_sums['order_percent'] = orl_sums['orderqty']/orl_sums['allocation']
orl_sums = orl_sums[['order_percent']]

In [91]:
new_orl_sheet = pd.merge(orl_sums, orl, on='itmdesc', how='left')
new_orl_sheet = new_orl_sheet[['itmdesc', 'company','qty','onorderqty','orderqty','totsold7','totsold14','totsold30','order_percent']]
new_orl_sheet["actual_order"]=new_orl_sheet["orderqty"]/new_orl_sheet["order_percent"]
new_orl_sheet["totalqty"]=new_orl_sheet[['qty','onorderqty','orderqty','actual_order']].sum(axis=1)
new_orl_sheet['weeksworth'] = new_orl_sheet['totalqty']/new_orl_sheet['totsold7']
orl_calculated_sheet=new_orl_sheet[['itmdesc','company','qty','onorderqty','orderqty','actual_order','totalqty','weeksworth','totsold7','totsold14','totsold30','order_percent']]
ORL_Orders = orl_calculated_sheet.round({"orderqty":0,"actual_order":0,"weeksworth":2})

ORL_Orders.head()

,itmdesc,company,qty,onorderqty,orderqty,actual_order,totalqty,weeksworth,totsold7,totsold14,totsold30,order_percent
0,ALCATEL 1X EVOLVE,APOPKA,1,0,0,0.0,1.000000,inf,0,0,6,5.5
1,ALCATEL 1X EVOLVE,BUMBY,1,0,7,1.0,9.272727,4.64,2,4,5,5.5
2,ALCATEL 1X EVOLVE,CLARCONA,1,0,0,0.0,1.000000,inf,0,0,5,5.5
3,ALCATEL 1X EVOLVE,FOREST,0,0,16,3.0,18.909091,4.73,4,5,6,5.5
4,ALCATEL 1X EVOLVE,GOLDENROD,0,0,0,0.0,0.000000,NaN,0,6,9,5.5

In [138]:
no_sim_orl = orl[~orl.itmdesc.str.contains('SIM')]
no_demo_orl = no_sim_orl[~no_sim_orl.itmdesc.str.contains('DEMO')]
orl_store_percent = no_demo_orl[["company","qty","onorderqty"]]

orl_store_percent = orl_store_percent.astype({'qty':float,'onorderqty':float})
orl_store_percent['total store inv']=orl_store_percent["qty"]+orl_store_percent["onorderqty"]
orl_store_percent = orl_store_percent.drop(columns=["qty", "onorderqty"])
orl_store_percent = orl_store_percent.groupby("company").sum()
combined_orl = pd.merge(ORL_Orders, orl_store_percent, on='company', how='left', suffixes=(True, False))
# combined_orl

In [139]:
combined_orl["% device of store inv"] = (combined_orl[["onorderqty","qty"]].sum(axis=1)/combined_orl['total store inv'])*100
combined_orl["request"] = combined_orl["orderqty"]-combined_orl["actual_order"]

In [140]:
ORL_Final_Orders= combined_orl[['itmdesc','company','qty','onorderqty','actual_order','request','totalqty','weeksworth','totsold7','totsold14','totsold30','order_percent','total store inv','% device of store inv']]
ORL_Final_Orders = ORL_Final_Orders.round({"orderqty":0,"actual_order":0,"totalqty":0,"% device of store inv":2})

In [141]:
ORL_Final_Orders

,itmdesc,company,qty,onorderqty,actual_order,request,totalqty,weeksworth,totsold7,totsold14,totsold30,order_percent,total store inv,% device of store inv
0,ALCATEL 1X EVOLVE,APOPKA,1,0,0.0,0.0,1.0,inf,0,0,6,5.5,163.0,0.61
1,ALCATEL 1X EVOLVE,BUMBY,1,0,1.0,6.0,9.0,4.64,2,4,5,5.5,135.0,0.74
2,ALCATEL 1X EVOLVE,CLARCONA,1,0,0.0,0.0,1.0,inf,0,0,5,5.5,210.0,0.48
3,ALCATEL 1X EVOLVE,FOREST,0,0,3.0,13.0,19.0,4.73,4,5,6,5.5,167.0,0.00
4,ALCATEL 1X EVOLVE,GOLDENROD,0,0,0.0,0.0,0.0,NaN,0,6,9,5.5,181.0,0.00
5,ALCATEL 1X EVOLVE,HIAWASSEE,0,0,1.0,7.0,9.0,4.73,2,2,9,5.5,274.0,0.00
6,ALCATEL 1X EVOLVE,ORANGE,0,0,0.0,0.0,0.0,NaN,0,6,13,5.5,180.0,0.00
7,ALCATEL 1X EVOLVE,ROSEMONT,0,3,1.0,3.0,8.0,7.73,1,1,11,5.5,204.0,1.47
8,ALCATEL 1X EVOLVE,SEMORAN,0,0,1.0,3.0,5.0,4.73,1,3,15,5.5,150.0,0.00
9,ALCATEL 1X EVOLVE,UNDERHILL,0,0,3.0,13.0,19.0,4.73,4,5,13,5.5,256.0,0.00
10,ALCATEL 3V,APOPKA,21,0,0.0,7.0,28.0,4.04,7,11,22,23.6,163.0,12.88
11,ALCATEL 3V,BUMBY,9,20,0.0,7.0,36.0,9.07,4,11,14,23.6,135.0,21.48
12,ALCATEL 3V,CLARCONA,8,0,0.0,8.0,16.0,4.08,4,4,4,23.6,210.0,3.81
13,ALCATEL 3V,FOREST,9,0,0.0,3.0,12.0,4.04,3,4,5,23.6,167.0,5.39
14,ALCATEL 3V,GOLDENROD,8,5,0.0,0.0,13.0,6.50,2,6,9,23.6,181.0,7.18
15,ALCATEL 3V,HIAWASSEE,15,0,0.0,0.0,15.0,7.50,2,7,12,23.6,274.0,5.47
16,ALCATEL 3V,ORANGE,11,15,0.0,5.0,31.0,7.80,4,9,14,23.6,180.0,14.44
17,ALCATEL 3V,ROSEMONT,12,5,0.0,8.0,25.0,5.07,5,11,14,23.6,204.0,8.33
18,ALCATEL 3V,SEMORAN,5,0,2.0,37.0,46.0,4.15,11,16,31,23.6,150.0,3.33
19,ALCATEL 3V,UNDERHILL,23,0,2.0,39.0,66.0,4.11,16,27,47,23.6,256.0,8.98
20,ALCATEL GO FLIP 3,APOPKA,5,0,0.0,0.0,5.0,5.00,1,1,2,inf,163.0,3.07
21,ALCATEL GO FLIP 3,BUMBY,4,5,0.0,4.0,13.0,6.50,2,2,4,inf,135.0,6.67
22,ALCATEL GO FLIP 3,CLARCONA,6,0,0.0,0.0,6.0,inf,0,0,0,inf,210.0,2.86
23,ALCATEL GO FLIP 3,FOREST,9,0,0.0,0.0,9.0,9.00,1,6,7,inf,167.0,5.39
24,ALCATEL GO FLIP 3,GOLDENROD,3,5,0.0,1.0,9.0,9.00,1,2,4,inf,181.0,4.42
25,ALCATEL GO FLIP 3,HIAWASSEE,5,0,0.0,0.0,5.0,5.00,1,1,4,inf,274.0,1.82
26,ALCATEL GO FLIP 3,ORANGE,9,0,0.0,0.0,9.0,4.50,2,6,8,inf,180.0,5.00
27,ALCATEL GO FLIP 3,ROSEMONT,3,5,0.0,5.0,13.0,6.50,2,2,3,inf,204.0,3.92
28,ALCATEL GO FLIP 3,SEMORAN,4,0,0.0,0.0,4.0,4.00,1,2,8,inf,150.0,2.67
29,ALCATEL GO FLIP 3,UNDERHILL,4,0,0.0,0.0,4.0,4.00,1,1,1,inf,256.0,1.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,SAMSUNG A10E,APOPKA,1,10,1.0,58.0,71.0,4.71,15,19,31,98.2,163.0,6.75
211,SAMSUNG A10E,BUMBY,5,0,0.0,31.0,36.0,4.04,9,13,25,98.2,135.0,3.70
212,SAMSUNG A10E,CLARCONA,20,0,0.0,32.0,52.0,4.03,13,18,34,98.2,210.0,9.52
213,SAMSUNG A10E,FOREST,11,0,0.0,21.0,32.0,4.03,8,11,19,98.2,167.0,6.59
214,SAMSUNG A10E,GOLDENROD,0,10,1.0,87.0,99.0,4.50,22,29,54,98.2,181.0,5.52
215,SAMSUNG A10E,HIAWASSEE,20,0,0.0,24.0,44.0,4.02,11,26,39,98.2,274.0,7.30
216,SAMSUNG A10E,ORANGE,3,5,0.0,25.0,33.0,4.75,7,8,13,98.2,180.0,4.44
217,SAMSUNG A10E,ROSEMONT,28,0,1.0,67.0,97.0,4.03,24,37,66,98.2,204.0,13.73
218,SAMSUNG A10E,SEMORAN,6,5,1.0,97.0,110.0,4.23,26,39,80,98.2,150.0,7.33
219,SAMSUNG A10E,UNDERHILL,19,0,0.0,45.0,64.0,4.03,16,29,51,98.2,256.0,7.42
220,SAMSUNG GALAXY J2,APOPKA,1,15,3.0,12.0,34.0,8.58,4,4,5,4.5,163.0,9.82
221,SAMSUNG GALAXY J2,BUMBY,8,0,0.0,0.0,8.0,inf,0,0,3,4.5,135.0,5.93
222,SAMSUNG GALAXY J2,CLARCONA,9,5,2.0,5.0,23.0,5.64,4,4,7,4.5,210.0,6.67
223,SAMSUNG GALAXY J2,FOREST,5,15,4.0,15.0,43.0,7.20,6,8,8,4.5,167.0,11.98
224,SAMSUNG GALAXY J2,GOLDENROD,4,0,0.0,0.0,4.0,inf,0,0,1,4.5,181.0,2.21
225,SAMSUNG GALAXY J2,HIAWASSEE,11,0,0.0,1.0,12.0,4.07,3,3,6,4.5,274.0,4.01
226,SAMSUNG GALAXY J2,ORANGE,6,0,0.0,0.0,6.0,inf,0,1,1,4.5,180.0,3.33
227,SAMSUNG GALAXY J2,ROSEMONT,5,5,1.0,2.0,14.0,6.83,2,4,5,4.5,204.0,4.90
228,SAMSUNG GALAXY J2,SEMORAN,6,0,0.0,0.0,6.0,inf,0,1,4,4.5,150.0,4.00
229,SAMSUNG GALAXY J2,UNDERHILL,9,0,0.0,0.0,9.0,4.50,2,2,3,4.5,256.0,3.52
230,TRIPLE SIM CARD,APOPKA,13,115,0.0,115.0,243.0,7.59,32,41,66,inf,163.0,78.53
231,TRIPLE SIM CARD,BUMBY,41,30,0.0,35.0,106.0,5.58,19,32,47,inf,135.0,52.59
232,TRIPLE SIM CARD,CLARCONA,23,0,0.0,0.0,23.0,4.60,5,14,24,inf,210.0,10.95
233,TRIPLE SIM CARD,FOREST,21,50,0.0,67.0,138.0,6.27,22,30,40,inf,167.0,42.51
234,TRIPLE SIM CARD,GOLDENROD,24,40,0.0,36.0,100.0,6.67,15,22,33,inf,181.0,35.36
235,TRIPLE SIM CARD,HIAWASSEE,54,25,0.0,22.0,101.0,5.32,19,27,66,inf,274.0,28.83
236,TRIPLE SIM CARD,ORANGE,25,50,0.0,55.0,130.0,6.50,20,30,44,inf,180.0,41.67
237,TRIPLE SIM CARD,ROSEMONT,27,90,0.0,117.0,234.0,6.50,36,48,69,inf,204.0,57.35
238,TRIPLE SIM CARD,SEMORAN,18,100,0.0,106.0,224.0,7.23,31,43,74,inf,150.0,78.67
239,TRIPLE SIM CARD,UNDERHILL,11,60,0.0,73.0,144.0,6.86,21,26,54,inf,256.0,27.73

In [142]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('0304 All Markets_test3.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
ORL_Final_Orders.to_excel(writer, sheet_name='Orlando')
TPA_Final_Orders.to_excel(writer, sheet_name='Tampa')
KC_Final_Orders.to_excel(writer, sheet_name='KC')

In [143]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()